#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

/* styling for the general information section */

.gen-form,
.edu-form,
.exp-form,
.exp-form-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.gen-info-contact {
  display: flex;
  gap: 16px;
}

.vl {
  width: 1px;
  height: auto;
  background-color: black;
}

.form-error {
  color: red;
}

/* styling for the education section */

.section-title {
  margin-bottom: 0.33em;
  text-align: left;
  font-size: 2.5em;
}

.hl {
  width: 90vw;
  height: 1px;
  background-color: black;
}

.school-section {
  display: flex;
  justify-content: space-between;
}

.school-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.school-main h2,
.school-main h3 {
  margin: 0.33em;
}

.school-main h2 {
  margin-top: 20px;
}

.school-dates {
  font-weight: lighter;
  font-style: italic;
}

.school-dates h3 {
  margin-top: 20px;
}

/* styling for the experience section */

.new-exp {
  border: solid 1px black;
  font-size: 0.65em;
}

.exp-form {
  align-items: center;
}

.exp-edits {
  display: flex;
  align-items: center;
  gap: 2em;
}

.exp-buttons {
  display: flex;
  gap: 1em;
}

.exp-buttons button {
  border: solid 1px black;
  border-radius: 8px;
  font-size: 0.65em;
}

.exp-section {
  display: flex;
  justify-content: space-between;
}

.exp-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exp-info,
.exp-dates {
  margin: 0.33em;
}

.exp-info h2,
.exp-dates h3 {
  margin-top: 20px;
}

.exp-duties {
  width: 90vw;
  margin-left: 0.33em;
  text-align: left;
  white-space: pre-line;
  overflow-wrap: break-word;
}

/* styling for the editing buttons */

.edit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}